<?xml version="1.0"?>
<Installer>
    <Name>Necessitas Qt SDK</Name>
    <Version>1.0.0</Version>
    <Title>Necessitas Qt SDK</Title>
    <MaintenanceTitle>Necessitas Qt SDK</MaintenanceTitle>
    <Publisher>KDE.org</Publisher>
    <ProductUrl>http://necessitas.kde.org</ProductUrl>
    <License>license.txt</License>
    <Icon>qticon</Icon>
    <Watermark>watermark.png</Watermark>
    <UninstallerName>SDKMaintenanceTool</UninstallerName>
    <RemoteRepositories>
        <Repository>
<!--            <Url>http://files.kde.org/necessitas/sdk</Url> -->
            <Url>file:///tmp/www/necessitas/sdk</Url>
            <Required>true</Required>
        </Repository>
    </RemoteRepositories>
    <!-- @homeDir@ and @rootDir@ are some of the supported vars -->
    <TargetDir>@homeDir@/necessitas</TargetDir>
</Installer>
