<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.kde.necessitas.ministro" android:versionName="5.0" android:versionCode="5">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".MinistroActivity"
                android:label="@string/app_name"
                android:configChanges="orientation|locale|fontScale|keyboard|keyboardHidden" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                <category android:name="android.intent.category.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name="org.kde.necessitas.ministro.MinistroConfigActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="org.kde.necessitas.ministro.MinistroConfigActivity" />
                <category android:name="android.intent.category.VIEW" />
            </intent-filter>
        </activity>
        <service android:name="org.kde.necessitas.ministro.MinistroService">
            <intent-filter>
                <action android:name="org.kde.necessitas.ministro.IMinistro" />
            </intent-filter>
        </service>
    </application>
    <uses-sdk android:minSdkVersion="4" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>
